<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:rel="stylesheet" type="text/css"	th:href="@{/css/miestilo.css}" />
<link th:rel="stylesheet" type="text/css"	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />

<meta charset="UTF-8">

<title>Cliente</title>
</head>

<body>
<font color="red">
	<div class="container">
	<div th:insert="layaout/header :: header"></div>	
<br>
		<h1>Formulario carga de cliente</h1>
		<font color="white">
<br>
		<form id="formProducto" th:object="${unCliente}" th:action="${editMode}?@{/cliente/modificar}:@{/cliente/guardar}" method="post">
		
			<div class="form-group row">
				<label for="tipo" class="col-sm-2 col-form-label">Tipo de documento</label>
				<div class="col-sm-10">
					<select id="tipo" th:field="*{tipoDocumento}" class="form-control">
						<option value="DNI">DNI</option>
						<option value="Pasaporte">Pasaporte</option>
						<option value="Otro">Otros</option>
					</select>
				</div>
			</div>

				<div class="form-group row">
			<label for="numdoc"class="col-sm-2 col-form-label">Documento</label>
			<div class="col-sm-10">
				<input type="number"id="numdoc" th:field="*{nroDocumento}"class="form-control">
		   </div>
		   </div>
		   
		   
		    <div class="form-group row">
		    <label for="nya" class="col-sm-2 col-form-label ">Nombre y Apellido</label>
		    <div class="col-sm-10">
		    	<input type="text" id="nya"th:field="*{nYa}" class="form-control">
		    </div>
		   </div>
		   
		   		   <div class="form-group row">     
		   <label for="password"class="col-sm-2 col-form-label ">Contraseña</label>
		   <div class="col-sm-10">
				<input type="password" id="password" th:field="*{password}"class="form-control">
				 </div>
		   </div>
		   
			 <div class="form-group row">
			<label for="fechanac"class="col-sm-2 col-form-label ">Fecha nacimiento</label> 
			<div class="col-sm-10">
				<input type="date" id="fechanac" th:field="*{fechaNacimiento}"class="form-control">
			 </div>
		   </div>
		 
		  <div class="form-group row">
		  	<label for="codigo"class="col-sm-2 col-form-label ">Cod. Area</label>
		  	<div class="col-sm-10">
		  		 <input type="number" id="codigo"	th:field="*{codigoAreaTelefono}"class="form-control"> 
		  		 </div>
		   </div>
		   
		   <div class="form-group row">
		  <label for="numtel"class="col-sm-2 col-form-label ">Telefono</label>
		  <div class="col-sm-10">
		 		 <input type="number" id="numtel"	th:field="*{numTelefono}"class="form-control">
		 		  </div>
		   </div>
		   
		     <div class="form-group row">
		    <label for="email"class="col-sm-2 col-form-label ">Email</label>	
		    <div class="col-sm-10">	    
				<input type="email" id="email" th:field="*{email}"class="form-control"> 
				 </div>
		   </div>
		   
		   
			 <div class="form-group row">
			<label for="fechault"class="col-sm-2 col-form-label ">Fecha ultima compra</label>
			<div class="col-sm-10">	 
				<input type="date"id="fechault" th:field="*{fechaUltimaCompra}"class="form-control">
				 </div>
		   </div>
			 
			<br>

			<div class="d-grid gap-2">
				<!-- <button  class="btn btn-primary" type="submit"  value="Agregar">Agregar</button>-->
				<input type="submit" class="btn btn-info" th:value="${editMode}?'Modificar Cliente':'Crear Cliente'">
			</div>
			
			<br>

		</form>

		<!-- ---------------------------------------------------------------- -->
<font color="red">
		<h3>Lista de Clientes</h3>
	
		<br>
		<div>
			<table class="table table-dark table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Tipo</th>
					<th>Num Doc</th>
					<th>Nombre y Apellido</th>
					<th>Fecha nac</th>
					<th>Edad</th>
					<th>Email</th>
					<th>Cod Area y Num Telefono</th>
					<th>fecha Ultima Compra</th>
					<th>Tiempo Transcurrido</th>
					<th>Dias para sig. cumpleaños</th>
					<th>Edicion</th>

				</tr>
				</thead>
				<tr th:if="${clientes.empty}">
            		<td colspan="2"> No hay clientes en la lista </td>
        		</tr>
				<tr th:each="cli : ${clientes}">
					<td th:text="${cli.tipoDocumento}"></td>
					<td th:text="${cli.nroDocumento}"></td>
					<td th:text="${cli.nYa}"></td>
					<td th:text="${#temporals.format(cli.fechaNacimiento,'dd/MM/yyyy')}"></td>
					<td th:text="${cli.edad}"></td>
					<td th:text="${cli.email}"></td>
					<td th:text="${cli.codigoAreaTelefono}+' - ' +${cli.numTelefono}"></td>
					<td th:text="${#temporals.format(cli.fechaUltimaCompra,'dd/MM/yyyy')}"></td>
					<td th:text="${cli.tiempoUltCompra}"></td>
					<td th:text="${cli.datosAdicionales}"></td>
					<td><a href="#" th:href="@{'/cliente/editar/'+${cli.nroDocumento}}">
									<i class="fa fa-edit"></i></a>
									
									<a th:onclick="'javascript:confirmarEliminar(\''+${cli.nroDocumento}+'\');'">
								<i class="fas fa-user-times"></i>
							</a></td>	
					
				</tr>
			</table>
		</div>
		
		
		<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="eliminarModalTitulo">Confirmar Eliminar</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body"><h6>Se eliminará el ususario seleccionado.</h6></div>
										<input type="hidden" id="identificador" name="userIdHiddenInput"/>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"	data-dismiss="modal">Cancelar</button>
											<button type="button" class="btn btn-primary" th:onclick="eliminarUsuario()">Confirmar</button>
										</div>
									</div>
								</div>
							</div>
		
		<div th:insert="layaout/footer :: footer"></div>
	</div>

<script type="text/javascript">
function confirmarEliminar(id){
	$('#modalEliminar').modal('show');
	$("#identificador").val(id);
}

function eliminarUsuario(){
	var id = $("#identificador").val();
    window.location = "eliminarCliente/"+id;
}
</script>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
</body>
</html>